[package]
name = "harbor-core"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.91"
serde = { version = "1.0.213", features = ["derive"] }
serde_json = "1.0.132"
serde_yaml = "0.9.34"
thiserror = "1.0.69"

